<!--***************************************************
**** CHATBOX project                               ****
**** A chatbox which follows Yahoo Messenger style ****
**** Tribute to my youth                           ****
**** Scripted by Anh Nguyen                        ****
**** Florence, 07 - Summer 2023                    ****
****************************************************-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://qanguyen.net/yahooAssets/chat-screen.css">
  <title>Rep Yahoo Chatroom</title>
</head>
<body>
  <div class="app card">
    {{!-- WHOLE CARD BODY - 60px --}}
    <div class="card-header">
      <div class="row justify-content-end">
          <div class="col-4 chat-header text-start">
            <img src="https://qanguyen.net/yahooAssets/message.png" alt="yahoo logo" style="width: 20px;">
            Chatroom
          </div>
          <div class="col-8 p-0 text-end">
            <i class="fa-solid fa-window-minimize" style="font-size: 14px;"></i>
            <i class="fa-regular fa-window-maximize" style="font-size: 14px;"></i>
            <i id="exit-chat" class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-2 p-0 text-center">Conversation</div>
          <div class="col-1 p-0 text-center">Edit</div>
          <div class="col-1 p-0 text-center">View</div>
          <div class="col-1 p-0 text-center">Actions</div>
          <div class="col-1 p-0 text-center">Help</div>
        </div>
    </div>

    {{!-- WHOLE CARD BODY - 540px --}}
    <div class="card-body chat-screen-body">
      <div class="screen chat-screen">

        <!-- HEADER OF THE BOX - 100px--> 
        <div class="toolbar">
          <div class="row">
            <div class="col-2 tool text-center">
              <img src="https://qanguyen.net/yahooAssets/assets/camera.png" alt="smile" style="width: 55%;">
            </div>
            <div class="col-2 tool text-start">
              <img src="https://qanguyen.net/yahooAssets/assets/micro.png" alt="smile" style="width: 55%;">
            </div>
          </div>
          <div class="row">
            <div class="col-2 tool text-center">
              Video Call
            </div>
            <div class="col-2 tool text-start">
              Voice Call
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-start">              
              <div class="nickname"><strong>{{username}}</strong> - It's raining outside.</div>
            </div>
          </div>
        </div>

        <!-- CHAT SCREEN - 100%-270px -->
        <div class="messages" style="font-family: 'M PLUS 1 Code', sans-serif; word-spacing: -5px;"></div>

        {{!-- ICONS - 40px --}}
        <div class="row icons">
          <div class="col-1">
            <img id="emoticons" src="https://qanguyen.net/yahooAssets/assets/happy.PNG" alt="smile" style="height: 100%;"> 
          </div>
          <div class="col-4">
            <h5 id="buzz">BUZZ!!</h5>
          </div>
        </div>        
        <div class="row icons-box"></div>

        <!-- TEXT BOX - 100px -->
        <div class="row typebox m-0" >
          <div class="col-10 p-0">
            <div id="message-input" contentEditable="true" style="font-family: 'M PLUS 1 Code', sans-serif; word-spacing: -5px;"></div>
            {{!-- <textarea type="text" id="message-input"></textarea> --}}
          </div>
          <div class="col-2 p-0">
            <button id="send-message">Send</button>
          </div>
        </div>

        <!-- NOTE or AD - 30px -->
        <div class="note" >
          Last modified on <strong>07/18/2023</strong> at 03:21 PM by <strong>Anh Nguyen</strong>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    window.username = "{{ username }}";
  </script>
  <script src="./socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
  <script src="https://qanguyen.net/yahooAssets/main.js"></script>
</body>
</html>